<md-dialog flex="70" aria-label="join a game">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Issue #{{issue.number}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                x
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
          <h1 style="text-align: center">
            {{issue.title}}
          </h1>
          <p style="text-align: center">
            {{issue.body}}
          </p>
          <p>
          </p>
          <div layout="row">
            <!-- user1 -->
            <div layout="column" flex="50">
              <div layout="column" layout-align="center center" ng-show="!!user1">
                <div layout="column" layout-align="center center">
                    <img src="{{user1.avatar_url}}" style="height: 150px; border-radius: 50%">
                </div>
                <div>
                  {{user1.name}}

                </div>
                <div layout="row" layout-margin>
                  <img layout="row" style="-webkit-user-select: none; height: 40px"
                  src="{{user1.assessment.personality_blend.personality_type_1.badge.image_small}}">
                  <img layout="row" style="-webkit-user-select: none; height: 40px"
                  src="{{user1.assessment.personality_blend.personality_type_2.badge.image_small}}">
                </div>
                <span>{{user1.assessment.personality_blend.personality_type_1.name}} & {{user1.assessment.personality_blend.personality_type_2.name}}</span>
<div class="traitify-widget1"></div>
              </div>
              <md-divider></md-divider>
              <!-- {{user1.assessment.personality_traits[0].personality_trait}} -->
              <h5 ng-show="user1.assessment.personality_blend.details[0].body">{{user1.assessment.personality_blend.details[0].title}}</h5>
              <p ng-show="user1.assessment.personality_blend.details[0].body"> {{user1.assessment.personality_blend.details[0].body}}</p>

              <h5>{{user1.assessment.personality_blend.details[1].title}}</h5>
              <p>{{user1.assessment.personality_blend.details[1].body}}</p>

            </div>

            <!-- user2 -->
            <div layout="column" flex="50">
                <div layout="column" layout-align="center center" ng-show="!!user2">
                  <div layout="column" layout-align="center center">
                    <img src="{{user2.avatar_url}}" style="height: 150px; border-radius: 50%">
                  </div>
                  <div>
                    {{user2.name}}

                  </div>
                  <div layout="row" layout-margin>
                    <img layout="row" style="-webkit-user-select: none; height: 40px"
                    src="{{user2.assessment.personality_blend.personality_type_1.badge.image_small}}">
                    <img layout="row" style="-webkit-user-select: none; height: 40px"
                    src="{{user2.assessment.personality_blend.personality_type_2.badge.image_small}}">
                  </div>
                  <span>{{user2.assessment.personality_blend.personality_type_1.name}} & {{user2.assessment.personality_blend.personality_type_2.name}}</span>
  <div class="traitify-widget2"></div>
                </div>
                <md-divider></md-divider>
                <!-- {{user1.assessment.personality_traits[0].personality_trait}} -->
                <h5 ng-show="user2.assessment.personality_blend.details[0].body">{{user2.assessment.personality_blend.details[0].title}}</h5>
                <p ng-show="user2.assessment.personality_blend.details[0].body">{{user2.assessment.personality_blend.details[0].body}}</p>

                <h5>{{user2.assessment.personality_blend.details[1].title}}</h5>
                <p>
                  {{user2.assessment.personality_blend.details[1].body}}
                </p>

                <!-- {{user1.assessment.personality_blend.name}} -->
              </div>


            </div>

        </div>
        <md-divider></md-divider>
        <h5 ng-show="issue.imagedescription" style="text-align: center">
          {{user1.login}} and {{user2.login}} {{issue.imagedescription}}
        </h5>

    </md-dialog-content>
    <!-- <md-dialog-actions layout="row">
        <md-button class="md-accent md-raised" ng-click="answer()" style="margin-right:20px;">
            Save
        </md-button>
        <md-button class="md-raised" ng-click="hide()" style="margin-right:20px;">
            close
        </md-button>
    </md-dialog-actions> -->
</md-dialog>
